PRODUCTION= false,
API_URL= 'http://localhost:5000'
API_BASE_URL= 'http://localhost:5000/auth'
API_BACKEND_URL= 'http://localhost:5000'
SOCKET_URL= 'http://localhost:5000'
API_KEY_GOOGLE_MAPS=
MAPS_MAP_ID=

